<h1>Listing tweets</h1>

<%= render 'form' %>
<hr />

<table>
  <tr>
    <th>Time</th>
    <th>User</th>
    <th>Tweet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.created_at.to_s(:db) %></td>
    <% user = tweet.user %>
    <td>
		  <%= user ? user.email : nil %>
			<%= link_to '(Profile)', :controller => :user_profiles, :action => :show, :id => user.user_profile.id if user && user.user_profile %>
		</td>
    <td><%= tweet.tweet %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweet', new_tweet_path %>
